:root {
    --pink-muda: #f8c8dc;
    --pink-utama:#ff69b4;
    --pink-tua: linear-gradient(to right #f8c8dc,#ff69b4, white);
    --teks:white;
    --bg-soft:#fff0f5;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#fff0f5;
    color:var(--text);
}

header {
    background:linear-gradient(to right #f8c8dc, #f8c8dc, #fff0f5);
    color: #fff0f5;
    padding: 60px 20px;
    text-align:center;
}

header h1 {
    font-size: 2.8rem;
    margin-bottom:10px;
    animation: bounce 2s;
}

header image{
    fonr-size:2.8rem;
    margin-bottom:10px;
    animation bounce: 2s;
}

@keyframes bouncess {
0% {
    transform: translate(0);
}
40% {
    transform: translate(-30px);
}
60% {
    transform: translate(-10px);
}
100% {
    transform: translate(0);
}
}

btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
}

.btn:hover {
    padding: 40px 20px;
    text-align: center;
    margin-bottom: 30px;
}

.cta {
    background:var(--white);
    padding: 60px 20px;
    text-align:center;
}

.step {
    gap:20px;
    margin-top:20px;
    border:bold;
    padding: 30px, 20px;
    background: white;
    border-radius: 25px;
    transition:transform: 0.3 ease;
}

.step i {
    color:var(--pink)
    margin-bottom:10px;
    fonr-size:2.8rem;
    cursor:pointer;
}

.step h1 {
    font-size:2.8rem;
    margin-bottom:10px;
}

.review {
    border-top:#d04894;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

}
section {
    padding: 20px 20px;
    margin-bottom;10px;
    text align;center;
}